# Neurobagel CLI
bagel==0.11.4

# Gitea API client
py-gitea==0.2.10

# Neuroimaging metadata
pybids>=0.16
pydicom>=2.4

# Jupyter & data
jupyter
ipywidgets
pandas
tqdm

# NIfTI headers (optional, for advanced exploration)
nibabel
