# NPDB environment variables

NP_GITEA_APP_USER=
NP_GITEA_APP_TOKEN=
NP_GITEA_APP_URL=
NP_GITEA_APP_VERIFY_SSL=false

# NeuroBagel development environment variables

# THIS IS A TEMPLATE .env FILE. 
# MAKE A COPY OF THIS FILE NAMED .env, AND THEN MODIFY THE VALUES AS NEEDED.
#
# Tip: To verify your changes to the .env have taken effect, run the command: docker compose config
# For more information on each environment variable, see the Neurobagel documentation.

# ---- PROJECT NAME ----
# Controls the base name of the docker compose services when launched.
# Replace neurobagel_node with an informative name based on your data and/or deployment profile
# This is optional but will be used to group together your Neurobagel Docker containers in the list of running containers (i.e., `docker ps`), 
# making them easier to identify if you need to run multiple Neurobagel service stacks on different ports.
#
# Note: Must not include any spaces or uppercase letters.
COMPOSE_PROJECT_NAME=neuropoly_nb_dev

# ---- CONFIGURATION FOR graph ----

# Replace DBUSER with the username you want to set for your graph database user
NB_GRAPH_USERNAME=dbuser

# Replace ./secrets with the directory path containing the text files with your desired 
# secure passwords for GraphDB (NB_GRAPH_ADMIN_PASSWORD.txt and NB_GRAPH_PASSWORD.txt)
NB_GRAPH_SECRETS_PATH=./secrets

# Replace my_db with the name you want to give your graph database
NB_GRAPH_DB=repositories/my_db

# Set NB_GRAPH_MEMORY to the amount of memory you want to allow GraphDB to maximally use
# See https://neurobagel.org/user_guide/config/#environment-variables for details on how to set this value
# NB_GRAPH_MEMORY=2G

# Replace ./data with the path to your JSONLD files
LOCAL_GRAPH_DATA=./seed-datasets


# Change NB_GRAPH_PORT_HOST if port 7200 is already in use on the machine
NB_GRAPH_PORT_HOST=7200

# ---------------------------------

# ---- CONFIGURATION FOR n-API ----

# Origins that can send requests to the n-API. To limit to specific origins, replace * with URLs separated by a space.
# NB_NAPI_ALLOWED_ORIGINS="*"

# Whether to return only aggregate, dataset-level query results (excluding subject/session-level attributes).
NB_RETURN_AGG=true

# Minimum number of matching subjects required for a dataset to be returned as a query match. Datasets with matching subjects <= this number will be excluded from query results.
# NB_MIN_CELL_SIZE=0

# NB_NAPI_TAG=latest

# Change NB_NAPI_PORT_HOST if port 8000 is already in use on the machine
NB_NAPI_PORT_HOST=8000

# ONLY FOR PRODUCTION DEPLOYMENT
# If you want to serve the node API from a specific sub path of your NB_NAPI_DOMAIN
# then uncomment and set the _BASE_PATH variable below. 
# E.g. for mynode.org/api set NB_NAPI_BASE_PATH="/api"
# Do not include a trailing slash!
# NB_NAPI_BASE_PATH=""

# REQUIRED FOR PRODUCTION DEPLOYMENT
# Uncomment and set the domain you want to host the n-API from.
# Do not include the protocol (e.g. http:// or https://) in this value 
# e.g. NB_NAPI_DOMAIN="api.mydomain.org"
# NB_NAPI_DOMAIN=""

# ---------------------------------

# ---- CONFIGURATION FOR f-API ----

# NB_FAPI_TAG=latest

# Change NB_FAPI_PORT_HOST if port 8080 is already in use on the machine
NB_FAPI_PORT_HOST=8080

NB_FEDERATE_REMOTE_PUBLIC_NODES=False

# ONLY FOR PRODUCTION DEPLOYMENT
# If you want to serve the federation API from a specific sub path of your NB_FAPI_DOMAIN
# then uncomment and set the _BASE_PATH variable below. 
# E.g. for mynode.org/federate set NB_FAPI_BASE_PATH="/federate"
# Do not include a trailing slash!
# NB_FAPI_BASE_PATH=""

# REQUIRED FOR PRODUCTION DEPLOYMENT
# Uncomment and set the domain you want to host the f-API from.
# Do not include the protocol (e.g. http:// or https://) in this value 
# e.g. NB_FAPI_DOMAIN="federate.mydomain.org"
# NB_FAPI_DOMAIN=""

# ---------------------------------

# ---- CONFIGURATION FOR QUERY TOOL ----

# NB_QUERY_TAG=latest

# Change NB_QUERY_PORT_HOST if port 3000 is already in use on the machine
NB_QUERY_PORT_HOST=9000

# The NB_API_QUERY_URL is ONLY used for local test deployments and 
# is ignored if you use the production deployment template.
# With the dev proxy, "/" works: the proxy routes API paths to the federation container.
NB_API_QUERY_URL=/

# ONLY FOR PRODUCTION DEPLOYMENT
# If you want to serve the query web interface from a specific sub path of your NB_QUERY_DOMAIN
# then uncomment and set the _BASE_PATH variable below. 
# E.g. for mynode.org/query set NB_QUERY_APP_BASE_PATH="/query"
# NB_QUERY_APP_BASE_PATH=/

# REQUIRED FOR PRODUCTION DEPLOYMENT
# Uncomment and set the domain you want to host the query tool from.
# Do not include the protocol (e.g. http:// or https://) in this value
# e.g. NB_QUERY_DOMAIN="query.mydomain.org"
# NB_QUERY_DOMAIN=""

# --------------------------------------

# ---- EXPERIMENTAL FEATURES ----

# IMPORTANT: THE BELOW SETTINGS ARE EXPERIMENTAL AND SHOULD NOT BE MODIFIED EXCEPT IN DEVELOPMENT ENVIRONMENTS.

# The below two settings are used by both the query tool and the f-API.
NB_ENABLE_AUTH=false

# If NB_ENABLE_AUTH is set to true, you MUST provide a valid OAuth client ID for your query tool instance.
# To obtain an OAuth client ID to enable login with Google, see https://developers.google.com/identity/openid-connect/openid-connect#appsetup.
# NB_QUERY_CLIENT_ID=XXXX

# NB_CONFIG=Neurobagel

# NB_QUERY_HEADER_SCRIPT=""
# --------------------------------

# ---- CONFIGURATION FOR PRODUCTION ----
# Default launch profiles for Neurobagel services
# The profile controls which service stack to run.
# Supported values include: node, portal
COMPOSE_PROFILES=node
# ------------------------------------------
NB_GATEWAY_PORT_HOST=9010

TEST_SLEEP_TIME=4000